name: Tests
on: push

jobs:
  # <---------------- TEST BASIC CONFIG ------------------>
  code-quality-basic:
    name: Basic
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Basic Test
        uses: ./
      - name: Upload Reports
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: Basic Reports
          path: |
            codeclimate-report.json
            codeclimate-report.html
  # <--------------- TEST ADVANCED CONFIG ---------------->
  code-quality-advanced:
    name: Advanced
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Advanced Test
        uses: ./
        with:
          html_report: true
          info_threshold: 10
          minor_threshold: 5
          major_threshold: 1
          critical_threshold: 0
          blocker_threshold: 0
      - name: Upload Reports
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: Advanced Reports
          path: |
            codeclimate-report.json
            codeclimate-report.html
